conda.enabled = true
conda.useMamba = true

params.inputDir = "${projectDir}/data/"
params.mapQThreshold = 30 
params.referenceBED = "${projectDir}/ref/chr21_AsiSI_sites.t2t.bed"
params.normalisationValue = 1000
params.experimentName = "example"

process {
    // SLURM is used by default, change to 'Local' or desired executor if necessary:
    executor = 'slurm'
    // Specify desired queue if applicable:
    // queue = 'QUEUE
}
